:root {
  font-family: "Roboto", sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}

body {
  margin: auto;
  padding: 0;
}

.anuncio {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.anuncio:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.anuncio .titulo {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  background-color: dodgerblue;
  display: grid;
  place-content: center;
  color: white;
}

.anuncio .body {
  flex: 60%;
  display: grid;
  place-content: center;
}

.anuncio .creacion {
  flex: 20%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: dodgerblue;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.anuncio .prioridad {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: dodgerblue;
  color: white;
}

.azul {
  color: #555555;
}

.rojo {
  color: #999999;
}
