.interlineado {
    line-height: 1%;
    margin-bottom: 3%;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.centrar table{
    width: 100%;
    border-collapse: collapse;
}
.centrar th, .centrar td{
    padding: 5px;
    border: 1px solid #ddd;
}
.centrar tr:nth-child(even){background-color: #f2f2f2;}
.centrar .info:hover {background-color: #ddd;}
.centrar td .centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1025px) {

    .container h1 {
        font-size: 3em;
        font-weight: 700;
        text-align: center;
    }

    .rectangle {
        padding: 40px;
        background-color: rgb(243, 246, 250);
    }

    .buttons {
        margin-top: 1em;
        display: flex;
        flex-direction: row-reverse;
    }

    .buttons div {
        margin-left: 3em;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 10px;
    }

    .container h1 {
        font-size: 3em;
        font-weight: 700;
        text-align: center;
    }

    .rectangle {
        padding: 40px;
        background-color: rgb(243, 246, 250);
    }

    .buttons {
        margin-top: 1em;
        gap: 1em;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
}