@media screen and (min-width: 1025px) {

    .container{
        /* padding: 20px; */
    }

    .container h1 {
        font-size: 3em;
        font-weight: 700;
        text-align: center;
    }

    .rectangle {
        padding: 40px;
        background-color: rgb(243, 246, 250);
    }

    .buttons {
        margin-top: 1em;
        display: flex;
        flex-direction: row-reverse;
    }

    .buttons div {
        margin-left: 3em;
    }

    .container .form {
        padding: 10px;
    }

    .container .formS {
        padding: 10px;
        width: 48%;
    }

}

@media screen and (max-width: 1024px) {
    .container {
        padding: 10px;
    }

    .container h1 {
        font-size: 3em;
        font-weight: 700;
        text-align: center;
    }

    .rectangle {
        padding: 40px;
        background-color: rgb(243, 246, 250);
    }

    .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5em;
        padding-top: .5em;
    }

    .formS {
        padding-top: .5em;
    }

    .buttons {
        margin-top: 1em;
        gap: 1em;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
}