/* stylelint-disable selector-type-case */
/* stylelint-disable block-no-empty */
/* stylelint-disable length-zero-no-unit */
/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-disable color-function-notation */

/*@media screen and (min-width: 1025px) {
  .container {
    padding: 40px;
  }

  .titlePage {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
  }

  .rectangle {
    padding: 40px;
    background-color: rgb(243, 246, 250);
  }

  .tipoLiga {
    width: 20%;
  }

  .numTeams {
    width: 15%;
  }

  .fecha {
    width: 100%;
  }

  .datos {
    width: 30%;
  }

  .rule {
    width: 100%;
  }
}

@media screen and (min-width: 0px) and (max-width: 679px) {
  .container {
    padding: 10px;
  }

  .titlePage {
    font-size: 40pt;
    font-weight: 700;
    text-align: center;
  }

  .rectangle {
    padding: 40px;
    background-color: rgb(243, 246, 250);
  }

  .rectangle Label {
    font-size: 12pt;
  }

  .tipoLiga {
    width: 100%;
  }

  .numTeams {
    width: 60%;
  }

  .fecha {
    width: 100%;
  }

  .datos {
    width: 30%;
  }

  .rule {
    width: 100%;
  }
}*/

/* stylelint-disable color-function-notation */
/* stylelint-disable order/properties-alphabetical-order */

@media screen and (min-width: 1025px) {
  .container {
    padding: 40px;
  }

  .container h1 {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
  }

  .container h2 {
    font-size: 18pt;
    font-weight: bold;
  }

  .rectangle {
    padding: 40px;
    background-color: rgb(243, 246, 250);
  }

  .user {
    display: flex;
    justify-content: center;
  }

  .flexContainer {
    display: flex;
    justify-content: space-between;
  }

  .input {
    width: 45%;
  }

  .input2 {
    width: 15%;
  }

  .buttons {
    display: flex;
    justify-content: end;
  }
  .divButtonA{
    display: flex;
    justify-content: end;
  }

  .inputModal {
    width: 100%;
  }

  .table{
    padding: 20px 10px 10px 10px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 10px;
  }

  .container h1 {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
  }

  .container h2 {
    font-size: 18pt;
    font-weight: bold;
  }

  .rectangle {
    padding: 40px;
    background-color: rgb(243, 246, 250);
  }

  .user {
    display: flex;
    justify-content: center;
  }

  .flexContainer {
    justify-content: space-between;
  }

  .input {
    width: 100%;
  }

  .input2 {
    width: 100%;
  }

  .buttons {
    display: flex;
    height: auto;
    padding: 10px;
    justify-content: end;
  }

  .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    background-color: wheat;
    border: 2px solid #000;
    box-shadow: 24;
    padding: 4;
  }

  .table{
    padding: 20px 10px 10px 10px;
  }
}

